

body {
    font-family: 'Poppins', sans-serif;
    background-color: #0a0a0a;
    -webkit-user-select: none;
    -ms-user-select: none; 
    user-select: none; 
}

#intro-text {
    text-align: center;
}


.typing::after {
    content: '_';
    animation: blink 1s step-end infinite;
}

@keyframes blink {
    from, to {
        color: transparent;
    }
    50% {
        color: #e5e7eb; 
    }
}


.fade-in {
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.fade-in.visible {
    opacity: 1;
}
